.regresar{
    padding: 15px 25px;
    border: 1px solid #e3ccff;
    border-radius: 25px;
    font-size: 17px;
    color: white;
    text-align: center;
    align-items: center;
}

.regresar:hover{
    background-color: #e3ccff;
}